@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);

@import "_variables.scss";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "_bootswatch.scss";

@import "font-awesome-sprockets";
@import "font-awesome";

.navbar a {

  display:block;
  font-size:22px;
  font-family: $font-family-sans-serif;
}